<div class="contenedor">
    <div class="containerPerfil">
        <div class="imgPerfil">
            <div class="imagenYnombre">
                <img src="../../../assets/img/personas.png" alt="imagenPerfil">
                <h1>{{usuario}}</h1>
            </div>
        </div>
        <div class="datosUsuario">
            <div class="datos">
                <h1>Datos de {{usuario}}</h1>
                <h2>Nombre:</h2>
                <h3>{{usuario}}</h3>
                <h2>Apellidos:</h2>
                <h3>{{apellidos}}</h3>
                <h2>Edad:</h2>
                <h3>{{edad}}</h3>
                <h2>Email:</h2>
                <h3>{{email}}</h3>
                <h2>Telefono:</h2>
                <h3>{{telefono}}</h3>
            </div>
        </div>
        <div class="tablaCochesCliente">
            <div class="tablaCoches">
                <table class="table">
                    <thead>
                        <tr>
                            <th>modelo</th>
                            <th>marca</th>
                            <th>matricula</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">prueba1</td>
                            <td>prueba2</td>
                            <td>prueba3</td>
                        </tr>
                        <tr>
                            <td scope="row">prueba1</td>
                            <td>prueba2</td>
                            <td>prueba3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>