<div class="contenedor">
    <div class="containerPerfil">
        <div class="imgPerfil">
            <div class="imagenYnombre">
                <img src="../../../assets/img/personas.png" alt="imagenPerfil">
                <h1>{{usuario}}</h1>
            </div>
        </div>
        <div class="datosUsuario">
            <div class="datos">
                <h1>Datos de {{usuario}}</h1>
                <h2>Nombre:</h2>
                <h3>{{usuario}}</h3>
                <h2>Apellidos:</h2>
                <h3>{{apellidos}}</h3>
                <h2>Edad:</h2>
                <h3>{{edad}}</h3>
                <h2>Email:</h2>
                <h3>{{email}}</h3>
                <h2>Telefono:</h2>
                <h3>{{telefono}}</h3>
            </div>
        </div>
        <div class="tablaCochesCliente">
            <div class="tablaCoches">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Color</th>
                            <th>Modificado</th>
                            <th>Homologado</th>
                            <th>Herramientas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let coche of cochesUser">
                            <td>{{coche.Matricula}}</td>
                            <td>{{coche.Marca}}</td>
                            <td>{{coche.Modelo}}</td>
                            <td>{{coche.Color}}</td>
                            <td>{{coche.Modificado=="1"?"si":"no"}}</td>
                            <td>{{coche.Homologado=="1"?"si":"no"}}</td>
                            <td class="Herramientas">
                                <a [routerLink]="['/modificarCoche', coche.Matricula]"><i class="bi bi-file-earmark-break"></i></a>
                                <a [routerLink]="['/borrarCoche', coche.Matricula]"><i class="bi bi-file-earmark-excel"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td><a href="/newCoche">Añadir Coche +</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>