.evento {
    background-color: rgb(39, 37, 37);
    margin: 20px;
    border-radius: 20px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.carrusel {
    width: 30% !important;
    height: 250px !important;
}

.carrusel img {
    width: 100%;
    height: 250px;
}

.informacionEvento {
    width: 30%;
    color: white;
    font-style: italic;
}

.BotonesEvento button{
    margin: 10px;
}

.contenedorImagenEvento {
    width: 30% !important;
    height: 250px !important;
    display: flex;
    align-items: center;
}

.imagenEvento {
    max-width: 450px;
    width: 100%;
    //height: 50%;
    max-height: 250px;
}

.filtros {
    width: 25%;
    padding: 10px;
    margin: 10px;
    background-color: #ebebeb;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

.filtrosOcultos {
    width: 50px;
    padding: 10px;
    margin: 10px;
    background-color: #ebebeb;
    border-radius: 50px;
    box-shadow: 6px 5px 6px;
}

.filtrosOcultos i {
    margin-left: 7px;
}