<nav class="navbar navbar-danger bg-danger sticky-top">
  <div class="container-fluid">
    <div class="navbar-nav me-auto mb-2 mb-lg-0 menu1">
      <div class="divLogoNombre">
        <img src="../assets/img/ruta-66.png" alt="Logo" width="40" height="34">
        <a class="navbar-brand" href="/home">Ruta 66</a>
      </div>
      <a class="nav-link" href="{{rutaLogin}}"><i class="bi bi-person-circle icoUser"></i>{{login}}</a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-danger" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Ruta 66</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
          </li>
          <li class="nav-item" *ngIf="logeado">
            <a class="nav-link" href="/home" (click)="logOut()">Cerrar sesión</a>
          </li>
          <li *ngIf="logeado" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opciones
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li *ngIf="logeado"><a class="dropdown-item" href="/perfil">Ver Perfil</a></li>
              <li *ngIf="logeado"><a class="dropdown-item" href="/newEvento">Crear Evento</a></li>
              <li *ngIf="logeado"><a class="dropdown-item" href="/verEventosCreados">Ver Eventos Creados</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li *ngIf="logeado"><a class="dropdown-item" href="/verEventos">Ver Eventos a los que me he unido</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted ">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Conecta con nosotros en nuestras redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Ruta 66
          </h6>
          <p>
            Conectando tu pasión por los coches con otros amantes del motor.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            TECNOLOGIAS
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">JavaScript</a>
          </p>
          <p>
            <a href="#!" class="text-reset">HTML 5</a>
          </p>
          <p>
            <a href="#!" class="text-reset">SCSS</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            LINKS DE INTERES
          </h6>
          <p>
            <a href="#!" class="text-reset">Precios</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ajustes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ayuda</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            CONTACTO
          </h6>
          <p><i class="bi bi-house-fill"></i> C. Diamantino Garcia nº 5</p>
          <p>
            <i class="bi bi-envelope-at-fill"></i>
            Gotoalvaro777@gmail.com
          </p>
          <p><i class="bi bi-telephone-fill"></i> + 01 234 567 88</p>
          <p><i class="bi bi-telephone-fill"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">ruta66.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->